
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    background-color: #111;
}


h2{
    color: white;
}
.start{
    position: relative;
    margin-top: -10px;
    margin-left: -10px;
   width: 100%;
   height: 700px;
   background-image: url(fit1.jpg);
   opacity:1;
   background-size: cover;
   color: white;
}
.start::before{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    content:"";
}
.nav ul li{
    list-style: none;
}
.nav ul{
    display: flex;
    justify-content:space-between;
}
.nav{
    top:10px;
    z-index: 100;
    padding-right: 10px;
    color: white;
    width: 80%;
    margin-left: 10%;
    position: fixed;
    height: 10vh;
    font-size: 24px;
    background-color: rgba(187, 34, 34, 0.7);
    backdrop-filter: blur(16px);
}

.cvadr {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(8,auto-fit);
}

.zayavka{
    position: relative;
    margin-top: -300px;
    margin-left: 150px;
    color: azure;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.btn-hover.color-1 {
  background-image: linear-gradient(to right, #ee0707, #d95322, #ca1e1e , #5a1c1c);
box-shadow: 0 4px 15px 0 rgba(228, 27, 80, 0.75);
}
.item{
  overflow: hidden;
    border:2px solid rgb(118, 16, 16);
}
.aa{
  text-align: center;
    margin:0 auto;
    color: white;
    opacity: 0;
}
.item button{
    top:300px;
    
    background-color: rgba(175, 35, 35,0.8);
    left:22%;
    position: relative;
    opacity: 0;
}
.item::before{
    background-color: rgba(187, 11, 11, 0.216);
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0;
}
.item:hover::before{
    opacity: 1;
    transition: 2s;
}
.item:hover{
  transition: 1s;
}

.item:hover button{
    opacity: 1;
    transition: 2s;
}

.item:hover .aa{
    opacity: 1;
    transition: 2s;
}
.cmd{
    margin-top: 150px;
    position: relative;
}
.direct{
    margin-top: 20px;
    width: 99%;
  overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows:350px
}
.card1{
    z-index: 0;
    background-image: url(1.jpg);
   background-size: cover;
    height: 100%;
    width: 100%;
}
.card2{
    z-index: 0;
    background-image: url(3.jpeg);
   background-size: cover;
    height: 100%;
    width: 100%;
}
.card3{
    z-index: 0;
    background-image: url(6.jpg);
   background-size: cover;
    height: 100%;
    width: 100%;
}
.card4{
    z-index: 0;
    background-image: url(8.jpg);
   background-size: cover;
    height: 100%;
    width: 100%;
}
.card5{
    z-index: 0;
    background-image: url(9.jpg);
   background-size: cover;
    height: 100%;
    width: 100%;
}
.card6{
    z-index: 0;
    background-image: url(10.png);
   background-size: cover;
    height: 100%;
    width: 100%;
}
.container1 {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.timer {
    background-color: rgb(173, 30, 30);
    margin-right: 20px;
    border-radius: 20px;
    height:auto;
    width: auto;
    display: block;
    font-size: 4rem;
}
.label {
    font-size: 2.5rem;
    padding-left: 0.25rem;
}
.abon{
    width: 99%;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background: rgba(167, 0, 0, 0.139);
}
.abon span{
    font-size: 2rem;
}
.abon form{
    display: flex;
    flex-direction: column;
    
}
.abon::before{
    margin-left: 52%;
    opacity: 0.8;
    content: "";
    position: absolute;
    background: url(g.png) no-repeat;
    height: 45%;
    width: 45%;
}
.abon button{
    margin:15px;
    height: 35px;
    width: 250px;
    border: 0;
    border-color:rgb(175, 35, 35) ;
}
form input{
    color:rgb(156, 0, 0) ;
    background-color:  rgb(255, 129, 129);
    border: 0;
    border-bottom: #dc4928 2px solid;
    outline: none;
    margin:15px;
    width: 250px;
    height: 35px;
}

form select{
    color:rgb(156, 0, 0) ;
    background-color:  rgb(255, 129, 129);
    border: 0;
    border-bottom: #dc4928 2px solid;
    outline: none;
    margin:15px;
    height: 35px;
    width: 250px;
}


::placeholder{
    color: rgb(156, 0, 0);
}

.cards{
    font-family: 'Poppins', sans-serif;
  min-height: 50vh;
  background: #131313;
}

.container{
    width: 100%;
    display: inline-flex;
  position: relative;
}
.cards h3{
    margin-left: 20px;
    color: white;
    font-size: 24px;
}

.container .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dc4928;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  content: 'Nike';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 25, 25, 0.178)
}

#active{
  display: none;
}

.container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx{
  height: 210px;
}

.container .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover{
  background: #dc4928;
}

.container .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: rgb(153, 6, 6);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}

footer address {
    margin-bottom: -10px;
    border-top: white 2px solid;
    position: relative;
    width: auto;
    height: 35vh;
    background: rgba(187, 34, 34, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
   }

   
footer .wave{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
}
.zayavka a{
  color: #dc4928;
}
   
.social,
.menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.social li,
.menu li{
  list-style: none;
}
.social li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.menu li a {
  font-size: 1.2em;
  color: #fff;
  opacity: 0.75;
  margin: 0 15px;
  text-decoration: none;
  display: inline-block;
}
@media (max-width:500px){
  .container{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .abon{
    width: 50%;
  }
  
.direct{
  margin-top: 20px;
  width: 90%;
  align-items: center;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-auto-rows:350px
}


.nav{
  position: fixed;
  top: 0;
  margin-left: -10px;
  height: 100%;
  width: 100%;
  background: rgba(200, 25, 25, 0);
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .nav{
  clip-path: circle(75%);
}
.menu-btn{
  position: fixed;
  content: "-";
  z-index: 200;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
background: rgb(250, 242, 242);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  color: rgb(0, 0, 0);
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.nav ul{
  height: 50%;
  margin-left:  20%;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  list-style: none;
  text-align: center;
}
.nav ul li{
  z-index: 100000;
}
.nav ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background: #000;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.nav ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
   background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
 width: 104%;
  height: 110%;
  left: -2%;
  top: -5%; /* if the font is 'Oswald'*/
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}
.nav ul li a:hover:after{
  transform: scaleY(1);
}
.nav ul li a:hover{
  color: rgb(255, 253, 253);
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}


.item::before{
  background-color: rgba(187, 11, 11, 0.216);
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  opacity: 0;
}

.abon{
  width: 99%;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  background: rgba(152, 138, 138, 0.317);
}
.abon span{
  font-size: 2rem;
}
.abon form{
  display: flex;
  flex-direction: column;
  
}
.abon::before{
  display: none;
}
.abon button{
  color: white ;
}

form select, form input{
  color:rgb(255, 255, 255) ;
  background-color:  rgba(255, 129, 129, 0);
}
::placeholder{
  color: white
  
}
.container1{
  justify-content: flex-end;
  width: auto;
  margin-left: 25px;
}

.timer {
  height:auto;
  width: auto;
  display: block;
  font-size: 0.6rem;
}

.zayavka{
  margin: 0 auto;
}
.start{
  display: none;
}
.cmd{
  margin-top: 15px;
}
}
a{
  color: #ffffff;
  text-decoration: none;
}
